.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 60px;
  height: 60px;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 3px solid #2a6ded;
  border-right: 3px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}


@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}
